Source: argus-pep-common
Priority: extra
Maintainer: Valery Tschopp <valery.tschopp@switch.ch>
Build-Depends: debhelper (>= 7.0.50~), maven2, default-jdk
Standards-Version: 3.9.1
Section: java
Homepage: https://twiki.cern.ch/twiki/bin/view/EGEE/AuthorizationFramework
Vcs-Git: git://github.com/argus-authz/argus-pep-common.git
Vcs-Browser: https://github.com/argus-authz/argus-pep-common

Package: libargus-pep-common-java
Architecture: all
Depends: ${java:Depends}, ${misc:Depends}
Recommends: ${java:Recommends}
Description: Argus PEP client and PEP Server shared library.
 The Argus Authorization Service renders consistent authorization 
 decisions for distributed services (e.g., user interfaces, 
 portals, computing elements, storage elements). The service 
 is based on the XACML standard, and uses authorization policies 
 to determine if a user is allowed or denied to perform a certain 
 action on a particular service.
